<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../../assets/fevicon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto&display=swap" rel="stylesheet">
    <title>TrueShop</title>
</head>
<body>
    <!-- navbar -->
    <div class="headder">
        <div class="navs">
            <ul>
                <input type="checkbox" name="" id="menu-bar-click">
                <label for="menu-bar-click" class="menu-bar"><span class="fa fa-bars"></span></label>
                <li class="logo">
                    <img  src="../../assets/logo-white.png" alt="logo">
                </li>
                <li class="logo2">
                    <img  src="../../assets/fevicon-white.png" alt="logo">
                </li>

                <div class="items" >
                    <li> <a routerLink="">Home</a> </li>
                    <li> <a routerLink="sell" >Sell</a> </li>
                    <li> <a href="#">Cart(0)</a></li>
                    <li> <a routerLink="contact">Help</a> </li>
                </div>
                <li class="search-icon">
                    <input type="search" placeholder="Search for products">
                    <label for="" class="icon"><span class="fa fa-search"></span></label>
                </li>
                <li class="login">
                    <a routerLink="#"><span class='fa fa-user'></span></a>
                    <a routerLink="user-login">Login</a>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>

