<section>
<section class="musthave__grid mx-4 my-4">
  <div class="musthave__card">
    <img src="assets/musthave-1.png" alt="must have" />
    <h4>Basic long sleeve T-shirt </h4>
    <p><del>INR 345.00</del> INR 375.00</p>
  </div>
  <div class="musthave__card">
    <img src="assets/musthave-2.png" alt="must have" />
    <h4>Ribbed T-shirt with buttons</h4>
    <p><del>INR 345.00</del> INR 375.00</p>
  </div>
  <div class="musthave__card">
    <img src="assets/musthave-3.png" alt="must have" />
    <h4>Jacket withside strips</h4>
    <p><del>INR 345.00</del> INR 375.00</p>
  </div>
  <div class="musthave__card">
    <img src="assets/musthave-6.png" alt="must have" />
    <h4>Piggy skater slogan T-shirt</h4>
    <p><del>INR 345.00</del> INR 375.00</p>
  </div>
  <div class="musthave__card">
    <img src="assets/musthave-8.png" alt="must have" />
    <h4>Sweater vest with sleeves</h4>
    <p><del>INR 345.00</del> INR 375.00</p>
  </div>
  <div class="musthave__card">
    <img src="assets/musthave-9.png" alt="must have" />
    <h4>Slim fit pants</h4>
    <p><del>INR 345.00</del> INR 375.00</p>
  </div>
  <div class="musthave__card">
    <img src="assets/musthave-11.png" alt="must have" />
    <h4>Neon sweatshirt</h4>
    <p><del>INR 345.00</del> INR 375.00</p>
  </div>
  <div class="musthave__card">
    <img src="assets/musthave-12.png" alt="must have" />
    <h4>Hooded nautical jacket</h4>
    <p><del>INR 345.00</del> INR 375.00</p>
  </div>
</section>

<div>
  <app-contact></app-contact>
</div>
